<a href="https://colab.research.google.com/github/sentongo-web/PYTHON-100-DAYS/blob/main/refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
vegetables = ["greens", "vertonium", "segundero","trigonomero"]
for vegetable in vegetables:
  print (vegetable)

greens
vertonium
segundero
trigonomero

In [7]:
student_scores = [23,45,78,90,67,90,100]
total_exam_scores = sum(student_scores)
sum = 0
for score in student_scores:
  sum += score
print (sum)

493

In [8]:
student_scores = [23,45,78,90,67,90,100]
max_score = 0
for score in  student_scores:
  if score > max_score:
    max_score = score
print (max_score)

100